<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main class="main main--profile">

    <div class="container--following">

        <h1>Welkom, <%= username %></h1>

        <p>In deze applicatie kan je zien welke artiesten je volgt, je afspeellijsten en realtime elkaars afspeellijsten bekijken op basis van de actieve gebruikers op het moment.</p>

        <h2>Mijn profiel</h2>

        <ul class="user-info">
            <a href="<%= externalurl %>">
                <li>Username: <%= username %></li>
                <li>Type: <%= type %></li>
                <li>URI: <%= uri %></li>
            </a>
        </ul>
        <a class="btn" href="/following">Jouw artiesten</a>
        <a class="btn" href="/home">Actieve gebruikers</a>

    </div>

    <!--<h2>Search user</h2>-->
    <!--<form id="user-search" action="">-->
        <!--<input id="user-search-input" placeholder="user name" type="text">-->
        <!--<input id="user-search-submit" type="submit">-->
    <!--</form>-->

    <!--<ul class="user-info" id="show-user"></ul>-->

    <!--<div class="container&#45;&#45;sidebar">-->

        <!--<div class="well">-->

        <!--</div>-->

    <!--</div>-->

</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>